
.app-container {
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    font-family: 'Recursive', sans-serif;
    overflow-x: auto;
    background: url(../src/img/resize.jpg) no-repeat;
    background-size: cover;
}

button, button:focus, textarea:focus {
    border: none;
    outline: none;
}


.todo-wrapper {
    display: flex;
    align-items: flex-start;
}